main#home {
  overflow: hidden;
  max-width: 120rem;
  margin: auto;

  h1.lg-heading {
    margin-top: 20vh;
  }

  .icons {
    margin-top: 1.6rem;

    a {
      padding: 0.6rem;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  #contact-me-button {
    border: 0.25rem solid #fff;
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    display: inline-block;
    margin-top: 3rem;
    font-size: 2.2rem;
    font-weight: 600;
    background-color: $secondary-color;
    color: #444;
    @include easeOut;

    &:hover {
      background-color: #fff;
      border-color: $secondary-color;
    }
  }
}
