@include mediaXl {
  #main-footer .footer-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@include mediaLg {
  :root {
    font-size: 60%;
  }

  main#about h1.lg-heading {
    margin-top: 13vh;
  }

  main#about h2.sm-heading {
    margin-bottom: 6rem;
    margin-top: 3.5rem;
  }

  main#about .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #main-footer .footer-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

@include mediaMd {
  :root {
    font-size: 55%;
  }

  main {
    text-align: center;
    //align-items: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    &#about .lg-heading {
      margin-top: 13vh;
      margin-bottom: 5rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 2.4rem;
  }

  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background-image: url('../images/profile-foto-small.jpg');
      width: 135px;
      height: 135px;
      clip-path: circle(50% at 50% 50%);
    }
  }

  main#about .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  main#work h1.lg-heading {
    margin-top: 13vh;
    margin-bottom: 2.5rem;
  }

  main#contact h1.lg-heading {
    margin-top: 13vh;
  }
}

@include mediaSm {
  :root {
    font-size: 50%;
  }

  main {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  main#home h1.lg-heading {
    margin-top: 19vh;
    margin-bottom: 2rem;
    text-align: center;
  }

  main#about h1.lg-heading {
    margin-top: 13vh;
  }

  main#about .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  main#work h1.lg-heading {
    margin-top: 13vh;
    margin-bottom: 2rem;
  }

  main#contact h1.lg-heading {
    margin-top: 13vh;
  }
}
