:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background: #444;
  color: #fff;
  height: 100%;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body#bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.9);
  z-index: -10;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 8.5rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 3.2rem;
  padding: 0.5rem 1.6rem;
  background: rgba(73, 73, 73, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: #eece1a;
}

.menu-btn {
  position: absolute;
  right: 3.5rem;
  top: 3.5rem;
  z-index: 20;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  width: 2.8rem;
  height: 0.3rem;
  background-color: #fff;
  margin-bottom: 0.5rem;
  transition: all 0.5s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(0.7rem, -0.6rem);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  background-color: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background-color: #444;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 35rem;
  height: 35rem;
  background-image: url("../images/profile-foto.jpg");
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.menu .nav-item {
  transform: translate3d(60rem, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #eece1a;
}
.menu .nav-link {
  display: inline-block;
  padding: 1rem 0;
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #eece1a;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.btn, .btn-light, .btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
}
.btn:hover, .btn-light:hover, .btn-dark:hover {
  background-color: #eece1a;
  color: #000;
}

.btn-dark {
  background-color: black;
  color: #fff;
}

.btn-light {
  background-color: #c4c4c4;
  color: #000;
  font-weight: 500;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #444;
}
header .logo-link img {
  display: inline-block;
  margin-left: 2rem;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background-color: #2b2b2b;
  color: #fff;
}
#main-footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
#main-footer .footer-content .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#main-footer .footer-content .icons a {
  margin-bottom: 2.5rem;
  font-size: 17px;
}
#main-footer .footer-content .icons a i {
  vertical-align: middle;
  transition: all 0.5s ease-out;
}
#main-footer .footer-content .icons a i:hover {
  color: #eece1a;
}
#main-footer .footer-content .contact-container {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
#main-footer .footer-content .contact-container span {
  margin-bottom: 2rem;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}
#main-footer .footer-content p {
  margin: 2.5rem 0 1rem 0;
  font-size: 17px;
}

main {
  padding: 6.4rem;
  min-height: calc(100vh - 6rem);
}

main#home {
  overflow: hidden;
  max-width: 120rem;
  margin: auto;
}
main#home h1.lg-heading {
  margin-top: 20vh;
}
main#home .icons {
  margin-top: 1.6rem;
}
main#home .icons a {
  padding: 0.6rem;
  transition: all 0.5s ease-out;
}
main#home .icons a:hover {
  color: #eece1a;
}
main#home #contact-me-button {
  border: 0.25rem solid #fff;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  display: inline-block;
  margin-top: 3rem;
  font-size: 2.2rem;
  font-weight: 600;
  background-color: #eece1a;
  color: #444;
  transition: all 0.5s ease-out;
}
main#home #contact-me-button:hover {
  background-color: #fff;
  border-color: #eece1a;
}

main#about {
  max-width: 120rem;
  margin: auto;
  min-height: 100vh;
}
main#about .lg-heading {
  margin-top: 5vh;
}
main#about .sm-heading {
  max-width: 90rem;
  margin: auto;
  margin-bottom: 6rem;
  margin-top: 3.5rem;
  text-align: justify;
  line-height: 150%;
}
main#about .skills-container {
  max-width: 90rem;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  border: 0.1rem solid #eece1a;
  padding: 2rem;
}
main#about .skills-container .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#about .skills-container .logo-container i {
  font-size: 6rem;
  margin-bottom: 0.4rem;
}
main#about .skills-container .logo-container p {
  transition: all 0.5s ease-out;
}
main#about .skills-container .logo-container p:hover {
  color: #eece1a;
}
main#about .skills-container .logo-container .devicon-bootstrap-plain {
  color: #a548bd;
}
main#about .skills-container .logo-container .redux-logo {
  width: 6rem;
  margin-bottom: 0.4rem;
}

main#work {
  max-width: 120rem;
  margin: auto;
  min-height: 100vh;
}
main#work h1 {
  margin-top: 5vh;
}
main#work .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.8rem;
  color: #000;
}
main#work .container .card {
  position: relative;
  width: 30rem;
  height: 21.5rem;
  background-color: #eee5e9;
  border-radius: 0.4rem;
  margin: 4rem 1rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
main#work .container .card:hover {
  height: 42rem;
}
main#work .container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -4rem;
  transition-delay: 0.2s;
}
main#work .container .card .imgBx {
  position: relative;
  width: 26rem;
  top: -6rem;
  left: 0.5rem;
  z-index: 5;
}
main#work .container .card .imgBx img {
  max-width: 100%;
  border-radius: 0.4rem;
}
main#work .container .card .content {
  position: relative;
  margin-top: -14rem;
  padding: 1rem 1.5rem;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
main#work .container .card .content h2.project-name {
  margin-top: -2rem;
  margin-bottom: 1rem;
  line-height: 2.8rem;
  font-weight: 700;
}
main#work .container .card .content p.project-description {
  margin-bottom: 1.3rem;
  font-size: 1.9rem;
}
main#work .container .card .content p.project-description span {
  display: inline-block;
  margin-top: 0.5rem;
}
main#work .container .card .content a {
  font-size: 1.9rem;
}
main#work #other-projects-button {
  border: 0.25rem solid #fff;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  margin-top: 3rem;
  margin: auto;
  display: block;
  max-width: 25%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  background-color: #eece1a;
  color: #444;
  transition: all 0.5s ease-out;
}
main#work #other-projects-button:hover {
  background-color: #fff;
  border-color: #eece1a;
}

main#contact {
  max-width: 120rem;
  margin: auto;
  min-height: 100vh;
}
main#contact h1 {
  margin-top: 5vh;
  margin-bottom: 2rem;
}
main#contact h2 {
  margin-bottom: 2.5rem;
}
main#contact .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0 2rem 0;
}
main#contact .boxes div {
  border: 0.3rem solid #fff;
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}
main#contact .boxes div:hover {
  padding: 0.5rem 1.5rem;
  background-color: #eece1a;
  color: #000;
}
main#contact .boxes div:hover span {
  color: #000;
}
main#contact .contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 60rem;
  margin: auto;
}
main#contact .contact-form input[type=text],
main#contact .contact-form input[type=email],
main#contact .contact-form textarea {
  margin-bottom: 1.5rem;
  padding: 1.2rem 1.8rem;
  border: 0.1rem solid #444;
  border-radius: 0.8rem;
  outline: none;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}
main#contact .contact-form input[type=text]:hover, main#contact .contact-form input[type=text]:hover, main#contact .contact-form input[type=text]:hover,
main#contact .contact-form input[type=email]:hover,
main#contact .contact-form input[type=email]:hover,
main#contact .contact-form input[type=email]:hover,
main#contact .contact-form textarea:hover,
main#contact .contact-form textarea:hover,
main#contact .contact-form textarea:hover {
  border: 0.1rem solid #eece1a;
}
main#contact .contact-form input[type=text]:focus, main#contact .contact-form input[type=text]:focus, main#contact .contact-form input[type=text]:focus,
main#contact .contact-form input[type=email]:focus,
main#contact .contact-form input[type=email]:focus,
main#contact .contact-form input[type=email]:focus,
main#contact .contact-form textarea:focus,
main#contact .contact-form textarea:focus,
main#contact .contact-form textarea:focus {
  border: 0.2rem solid #eece1a;
  box-shadow: inset 0 0 0.5rem rgba(30, 30, 30, 0.2);
  outline: none;
}
main#contact .contact-form .submit-button {
  padding: 1.2rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  border: 0.25rem solid #fff;
  font-size: 2.2rem;
  font-weight: 600;
  background-color: #eece1a;
  color: #444;
  transition: all 0.5s ease-out;
}
main#contact .contact-form .submit-button:hover {
  background-color: #fff;
  border-color: #eece1a;
}

@media screen and (min-width: 1171px) {
  #main-footer .footer-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  :root {
    font-size: 60%;
  }

  main#about h1.lg-heading {
    margin-top: 13vh;
  }

  main#about h2.sm-heading {
    margin-bottom: 6rem;
    margin-top: 3.5rem;
  }

  main#about .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #main-footer .footer-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  :root {
    font-size: 55%;
  }

  main {
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  main#about .lg-heading {
    margin-top: 13vh;
    margin-bottom: 5rem;
  }

  ul.menu-nav,
div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 2.4rem;
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background-image: url("../images/profile-foto-small.jpg");
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
  }

  main#home .icons {
    margin-top: 5rem;
  }
  main#home .icons a {
    font-size: 2.5rem;
    margin: 0 1.5rem;
  }
  main#home #contact-me-button {
    padding: 1rem 9rem;
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  main#about .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  main#work h1.lg-heading {
    margin-top: 13vh;
    margin-bottom: 2.5rem;
  }
  main#work #other-projects-button {
    font-size: 2.5rem;
  }

  main#contact h1.lg-heading {
    margin-top: 13vh;
  }
}
@media screen and (max-width: 500px) {
  :root {
    font-size: 50%;
  }

  main {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  main#home h1.lg-heading {
    margin-top: 16vh;
    margin-bottom: 2rem;
    text-align: center;
  }

  main#home .icons {
    margin-top: 5rem;
  }

  main#home .icons a {
    font-size: 2.5rem;
    margin: 0 1.5rem;
  }

  main#home #contact-me-button {
    padding: 1rem 9rem;
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  main#about h1.lg-heading {
    margin-top: 13vh;
  }

  main#about .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  main#work h1.lg-heading {
    margin-top: 13vh;
    margin-bottom: 2rem;
  }
  main#work #other-projects-button {
    max-width: 50%;
    font-size: 2.5rem;
  }

  main#contact h1.lg-heading {
    margin-top: 13vh;
  }
}

/*# sourceMappingURL=main.css.map */
